/advancements/*
/data/*
/DIM1/*
/DIM-1/*
/entities/*
/playerdata/*
/region/*
/stats/*
/icon.png
/level.dat
/level.dat_old
/level.dat
/session.lock
/poi/*
/generated/*
/dimensions/*
/serverconfig/*
/resourcepack/files/assets/minecraft/textures/custom/alien-packs/rm_portal_gun/item/Thumbs.db
datapacks/.vscode/extensions.json
